.dropdown {
    display: flex;
    padding: 12px 14px 12px 16px;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Courses-Gray-Gray-300);
    width: 100%;
    position: relative;
    cursor: pointer;
}
.dropdown p{
    text-align: left;
    width: 150px;
    color: var(--Courses-Gray-Gray-500);
}

.dropdown__select {
    cursor: pointer;
    position: absolute;
    top: 115%;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
    border-radius: 8px;
    padding: 4px 6px;
    background: #12122E;
    width: 100%;
    z-index: 9;
    border: 1px solid var(--Courses-Gray-Gray-200, #E9EAEB);
    background: var(--Courses-Base-White, #FFF);
}

.dropdown__select__item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
}

.dropdown__select div small {
    height: 40px;
    line-height: 40px;
}

.dropdown .dropdown__select__item:hover {
    background: #F5F5F5!important;
}