.dropdown {
    display: flex;
    padding: 12px 14px 12px 16px;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Courses-Gray-Gray-300);
    width: 100%;
    position: relative;
    cursor: pointer;
}
.dropdown p{
    text-align: left;
    width: 150px;
    color: var(--Courses-Gray-Gray-500);
}

.dropdown__select {
    cursor: pointer;
    position: absolute;
    top: 120%;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
    border-radius: 8px;
    border: 1px solid var(--light-blue, #1E1E4D);
    background: #12122E;
    width: 100%;
    z-index: 9;
}

.dropdown__select div:first-child {
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.dropdown__select div:last-child {
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.dropdown__select__item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
}

.dropdown__select div small {
    height: 40px;
    line-height: 40px;
}

.dropdown .dropdown__select__item:hover {
    background: rgba(25, 25, 64, 1) !important;
}