.companies{
    display: flex;
    padding: 164px 0 76px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    position: relative;
    z-index: -1;
}

.scrollable__block {
    width: 100%;
    overflow-x: hidden;
    margin:0;
}

.scrollable__block__items {
    display: flex;
    animation: swipe 20s linear infinite;
    width: 4752px;
    user-select: none;
}
@keyframes swipe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33%);
    }
}
@media screen and (max-width: 576px) {
    .companies {
        display: flex;
        padding: 128px 0 64px 0;
    }
}