.page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    gap: 32px;
    padding: 0 80px 96px;
}

.page__container h1, .page__container p {
    text-align: left;
    width: 100%;
}

.page__container p {
    color: var(--Courses-Gray-Gray-500);
    font-weight: 500;
}

.page__container__search__dropdowns {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 16px;
    max-width: Calc(100vw - 160px);
    width: 100%;
}

.page__container__countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 1600px;
    gap: 20px;
}

.rounded__buttons {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-right: auto;
}

.rounded__buttons div {
    display: flex;
    padding: 16px;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--Courses-Gray-Gray-200, #E9EAEB);
}

@media screen and (max-width: 1240px) {
    .page__container__search__dropdowns {
        width: Calc(100vw - 160px);
        padding: 0;
    }

    .page__container__search__dropdowns div {

    }

    .page__container__search__dropdowns > div {
        flex: 1 1 0;
        min-width: 100px;
    }

    .page__container__countries {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 992px) {
    .page__container__countries {
        grid-template-columns: 1fr 1fr;
    }

    .page__container__search__dropdowns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        align-items: center;
        width: Calc(100vw - 128px);
        max-width: Calc(100vw - 128px);
    }

    .page__container__search__dropdowns a,.page__container__search__dropdowns a button{
        max-width: 100% !important;
        width: 100%!important;
        padding: 12px 0!important;
    }
    .page__container{
        padding: 0 64px 64px;
    }
}
@media screen and (max-width: 768px) {
    .rounded__buttons {
        gap: 16px;
    }
    .page__container{
        padding: 0 32px 64px;
    }
    .page__container__search__dropdowns{
        width: Calc(100vw - 64px);
        max-width: Calc(100vw - 64px);
    }
}
@media screen and (max-width: 576px) {
    .rounded__buttons {
        gap: 16px;
    }
    .page__container__search__dropdowns {
        grid-template-columns: repeat(1, 1fr);
        width: Calc(100vw - 32px);
        max-width: Calc(100vw - 32px);
    }
    .page__container__countries{
        grid-template-columns: repeat(1, 1fr);
    }
    .page__container{
        padding: 0 16px 64px;
    }
    .page__container button{
        max-width: 100%;
        width: 100%;
        padding: 12px 0!important;
    }
}