.page__country__schools {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1600px;
    gap: 20px
}

.page__country__schools__schools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 48px 20px;
}

.page__country__schools__country {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page__country__schools__country__info {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid var(--Courses-Brand-Blue-100, #B2DDFF);
    background: var(--Courses-Brand-Blue-25, #EFF8FF);
    gap: 6px;
}

.page__country__schools__country__info img {
    border-radius: 16px;
    border: 1px solid var(--Courses-Gray-Gray-200, #E9EAEB);
    background: lightgray 50% / cover no-repeat;
    height: 152px;
}

.page__country__schools__country__recommendations {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 12px;
    border-radius: 24px;
    border: 1px solid var(--Courses-Gray-Gray-200, #E9EAEB);
    background: var(--Courses-Gray-Gray-50, #FAFAFA);
}

.page__country__schools__country__recommendations a p {
    font-weight: 400;
    color: var(--courses-brand-blue-400-brand);
    text-decoration: underline;
}

.about__school {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.about__school div {
    display: flex;
    padding: 96px 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    text-align: left;
    background: var(--Courses-Gray-Gray-50);
    width: 50%;
}
.about__school img{
    width: 50%;
}
.about__school div p {
    color: var(--Courses-Gray-Gray-600);
    text-align: left;
}
.about__school div h2,.about__school div h5{
    color: var(--Courses-Base-Black);
}
.about__school div a{
    color: var(--courses-brand-blue-400-brand, #2E90FA);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}
@media screen and (max-width: 1240px) {
    .page__country__schools__schools {
        grid-template-columns: 1fr 1fr;
    }

    .page__country__schools {
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (max-width: 992px) {
    .page__country__schools {
        display: flex;
        flex-direction: column;
    }

    .page__container__countries {
        grid-template-columns: 1fr 1fr;
    }

    .page__country__schools__country {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about__school {
       flex-direction: column-reverse;
    }
    .about__school div{
        padding: 64px;
    }
    .about__school div,.about__school img{
        width: 100%;
    }
    .about__school img{
        height: 500px;
        object-fit: cover;
    }
}
@media screen and (max-width: 768px) {
    .about__school div{
        padding: 48px 32px;
    }
}

@media screen and (max-width: 576px) {
    .page__container__countries, .page__country__schools__schools, .page__country__schools__country {
        grid-template-columns: 1fr;
    }

    .page__country__schools__schools {
        gap: 36px;
    }

    .page__country__schools {
        gap: 64px;
    }
    .about__school div{
        padding: 48px 16px;
    }
    .about__school img{
        height: 240px;
    }
}