.events {
    display: flex;
    padding: 96px 0 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-width: 1600px;
    align-self: stretch;
    margin-left: auto;
    margin-right: auto;
}
.events__first{
    width: 100%;
}
.events__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.events__header__p{
    color: var(--Courses-Gray-Gray-500);
    margin-top: 8px;
    text-align: left;
}
.events__block{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 16px;
    max-width: 1600px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.events__block::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.events__block span{
    display: none;
    min-width: 60px;
}
.search__recommendations span{
    display: block;
    min-width: 60px;
}
.schools__recommendations div{
    min-width: 413px;
}
.schools__recommendations div button{
    text-align: center;
}
.search__recommendations .rounded__buttons{
    margin-left: 64px;
    margin-right: auto;
}
@media screen and (max-width: 1600px) {
    .events {
        max-width: Calc(100vw - 160px);
    }
    .events__block{
        max-width: 100vw;
    }
    .events__block span {
        display: block;
    }
    .search__recommendations span{
        display: none;
    }
    /*.events__header, .events__header__p {*/
    /*    padding-left: 80px;*/
    /*    padding-right: 80px;*/
    /*}*/
    .search__recommendations .rounded__buttons{
        margin-left: 0;
        margin-right: auto;
    }
}

@media screen and (max-width: 992px) {
    .events {
        max-width: Calc(100vw - 128px);
        padding-top: 64px;
    }
    .events__block span {
        min-width: 44px;
    }
}
@media screen and (max-width: 768px) {
    .events {
        max-width: Calc(100vw - 64px);
    }
    .events__block span {
        min-width: 12px;
    }
}
@media screen and (max-width: 576px) {
    .events {
        max-width: Calc(100vw - 32px);
    }
    .events__block{
        gap: 15px;
    }
    .events__header button {
        display: none;
    }
    .events__block span {
        min-width: 1px;
    }
}