.image__input img{
    min-width: auto;
    min-height: auto;
    max-height: 400px;
    width: auto;
    height: auto;
}
.image__crm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    position: relative;
    cursor: pointer;
}
.image__crm:hover img{
    opacity: 0.5;
}
.image__crm .image__crm__x{
    display: none;
}
.image__crm:hover .image__crm__x{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tox-menubar{
    display: none!important;
}