.subscribe {
    display: flex;
    padding: 64px 80px;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    background: linear-gradient(97deg, #0D1654 -1.05%, #3043C4 100.82%);
    /*max-width: 1600px;*/
    margin-right: auto;
    margin-left: auto;
}
.subscribe__container{
    display: flex;
    max-width: 1280px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}
.subscribe__container h2{
    max-width: 40%;
    color: #FFF;
    text-align: left;
}
.subscribe__container div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
}
@media screen and (max-width: 1600px) {
    .subscribe{
        max-width: 100vw;
    }
}
@media screen and (max-width: 1140px) {
    .subscribe {
        padding: 64px;
    }
    .subscribe__container{
        flex-direction: column;
        gap: 48px;
    }
    .subscribe__container h2{
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .subscribe {
        padding: 64px 32px;
    }
}
@media screen and (max-width: 576px) {
    .subscribe {
        padding: 64px 16px;
    }

    .subscribe__container div {
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    .subscribe__container div div,.subscribe__container div button{
        width: 100%;
    }
    .subscribe__container div button{
        text-align: center;
        padding: 12px 0!important;
    }
}